body {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  
}

ol, ul {
  list-style: none;
}

.navbar-default {
  background-color: transparent;
}
.main-header {
  background: url(../img/banner.jpeg) no-repeat;
  background-size: cover;
  min-height: 610px;
}

.bg-color {
  background-color: RGBA(0, 0, 0, 0.41);
}
.nav>li>a {
  padding: 0px;
}

.navbar-default .navbar-brand {
  color: orange;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0px;
  letter-spacing: 2px;
  height: inherit;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: rgb(255, 221, 158);
 
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: orange;
  padding: 10px 20px;
  text-transform: uppercase;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: rgb(255, 221, 158);
}

.navbar-fixed-top {
  padding: 40px 0;
  transition: all 0.5s;
}

.top-nav-collapse {
  background: rgba(0, 0, 0, 0.8);
  padding: 25px 0;
}

.wrapper {
  padding: 90px 0px 130px;
}

.top-title {
  z-index: 5;
  font-size: 27px;
  font-weight: 700;
  color:white;
  line-height: 38px;
  letter-spacing: 4px;
  opacity: 1;
  text-transform: uppercase;
}

.sub-title {
  font-size: 50px;
  font-weight: 700;
  color: white;
  line-height: 71px;
  letter-spacing: 4px;
  opacity: 1;
  text-transform: uppercase;
}

.title {
  font-size: 123px;
  font-weight: 700;
  color:orange;
  line-height: 88px;
  letter-spacing: 4px;
  opacity: 1;
  text-transform: uppercase;
  padding: 25px 0px;
}

h3.txt-tl {
  font-size: 24px;
  line-height: 1.35;
}
a, a:hover {
  color: white;
}

h1, h2, h3, h4{
  color: orange;
  font-family: "Droid Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

#o-footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 50px 0;
  clear: both;
  position: relative;
}
#o-footer .o-footer-links {
  padding: 0;
  margin: 0 0 20px 0;
  float: left;
  width: 100%;
}
#o-footer .o-footer-links li {
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none;
  line-height: 1;
}

.o-footer-links>li>a,.o-footer-contact>li>a{
  color: white;
}
p{color: aliceblue;}
.block{color: orange;}
.o-container{
  padding-left: 60px;
  padding-right: 10px;
}
.copyright{
  padding-left: 20px;
  padding-right: 20px;
}